<div class="container">
    <biosys-header></biosys-header>
    <biosys-navbar></biosys-navbar>
    <biosys-breadcrumbs [items]="breadcrumbItems"></biosys-breadcrumbs>
    <div class="row mt-3">
        <div class="col-md">
            <div class="mb-1">
                <h3 *ngIf="project.id">Project Details</h3>
                <h3 *ngIf="!project.id">Create Project</h3>
                <p *ngIf="project.id">
                    Edit details of the project by clicking the edit button below. You can also create/edit datasets
                    and sites for the project through the tables below. When editing, fields marked with a
                    <strong>*</strong> are required.
                </p>
                <p *ngIf="!project.id">
                    Create a new project by entering the details below project and click the save butten when complete.
                    You will then be able to create/import datasets and sites for the project. When editing, fields
                    marked with a <strong>*</strong> are required.
                </p>
            </div>
            <div class="row">
                <!-- project form -->
                <div class="col-md-6">
                    <div class="ui-fluid">
                        <div class="row mb-1">
                            <div class="col-md-4">
                                <label class="field-label">Name <span *ngIf="isEditing">*</span></label>
                            </div>
                            <div class="col-md-8">
                                <label [hidden]="isEditing">{{project.name}}</label>
                                <input [hidden]="!isEditing" type="text" pInputText [(ngModel)]="project.name"
                                       size="21"/>
                                <div [hidden]="!isEditing" class="text-danger">{{projectErrors['name']}}</div>
                            </div>
                            <div [hidden]="!isEditing" class="text-danger">{{projectErrors['name']}}</div>
                        </div>
                        <div class="row mb-1">
                            <div class="col-md-4">
                                <label class="field-label">Code</label>
                            </div>
                            <div class="col-md-8">
                                <label [hidden]="isEditing">{{project.code}}</label>
                                <input [hidden]="!isEditing" type="text" pInputText [(ngModel)]="project.code"/>
                                <div [hidden]="!isEditing" class="text-danger">{{projectErrors['code']}}</div>
                            </div>
                        </div>
                        <div class="row mb-1">
                            <div class="col-md-4">
                                <label class="field-label">Program</label>
                            </div>
                            <div class="col-md-8">
                                <label [hidden]="isEditing">{{getProgramLabel(project.program)}}</label>
                                <p-dropdown [hidden]="!isEditing" [options]="programChoices"
                                            [(ngModel)]="project.program">
                                </p-dropdown>
                                <div [hidden]="!isEditing" class="text-danger">{{projectErrors['program']}}</div>
                            </div>
                        </div>
                        <div class="row mb-1">
                            <div class="col-md-4">
                                <label class="field-label">Default Datum</label>
                            </div>
                            <div class="col-md-8">
                                <label [hidden]="isEditing"
                                       *ngIf="project.datum">{{getDatumLabel(project.datum)}}</label>
                                <p-dropdown [hidden]="!isEditing" [options]="datumTypeChoices"
                                            [(ngModel)]="project.datum">
                                </p-dropdown>
                                <div [hidden]="!isEditing" class="text-danger">{{projectErrors['datum']}}</div>
                            </div>
                        </div>
                        <div class="row mb-1">
                            <div class="col-md-4">
                                <label class="field-label">Timezone <span *ngIf="isEditing">*</span></label>
                            </div>
                            <div class="col-md-8">
                                <label [hidden]="isEditing">{{project.timezone}}</label>
                                <input [hidden]="!isEditing" type="text" pInputText [(ngModel)]="project.timezone"/>
                                <div [hidden]="!isEditing" class="text-danger">{{projectErrors['timezone']}}</div>
                            </div>
                        </div>
                        <div class="row mb-1">
                            <div class="col-md-4">
                                <label class="field-label">Custodians <span *ngIf="isEditing">*</span></label>
                            </div>
                            <div class="col-md-8">
                                <label
                                    [hidden]="isEditing">{{getSelectedCustodiansLabel(project.custodians)}}</label>
                                <p-multiSelect [hidden]="!isEditing" *ngIf="custodianChoices"
                                               [options]="custodianChoices"
                                               [(ngModel)]="project.custodians"></p-multiSelect>
                                <div [hidden]="!isEditing" class="text-danger">{{projectErrors['custodians']}}</div>
                            </div>
                        </div>
                        <div class="row mb-1">
                            <div class="col-md-4">
                                <label class="field-label">Description</label>
                            </div>
                            <div class="col-md-8">
                                <label [hidden]="isEditing" [innerHtml]="project.description"></label>
                                <textarea [hidden]="!isEditing" pInputTextarea [(ngModel)]="project.description"
                                          rows="7">
                            </textarea>
                                <div [hidden]="!isEditing" class="text-danger">{{projectErrors['custodians']}}</div>
                            </div>
                        </div>
                    </div>
                    <button [hidden]="isEditing" pButton icon="fa fa-pencil-square-o" label="Edit"
                            (click)="editProject()"></button>
                    <button pButton class="right-buffer" icon="fa fa-close" label="Cancel"
                            (click)="cancelEditProject()" [hidden]="!isEditing || !project.id"></button>
                    <button [hidden]="!isEditing" pButton icon="fa fa-save" label="Save" (click)="saveProject()">
                    </button>
                </div>
                <!-- feature map -->
                <div class="col-md-6">
                    <label class="field-label">Extent</label>
                    <div>
                        <biosys-featuremap [isEditing]="isEditing" [geometry]="project.geometry"
                                           [drawFeatureTypes]="['POLYGON', 'LINE']">
                            <biosys-marker *ngFor="let site of flatSites" [geometry]="site.centroid"
                                           [popupText]="formatSitePopup(site)">
                            </biosys-marker>
                        </biosys-featuremap>
                    </div>
                </div>
            </div>
            <hr *ngIf="project.id" class="mt-3"/>
            <!-- datasets table -->
            <div *ngIf="project.id" class="row mt-1 mb-5">
                <div class="col-md">
                    <h4>Datasets</h4>

                    <p-table #table [value]="datasets" autoLayout="true" resizableColumns="true"
                             columnResizeMode="expand"
                             [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10, 25, 50, 100]"
                             [globalFilterFields]="['name', 'code', 'type', 'record_count', 'description']">
                        <ng-template pTemplate="caption">
                            <i class="fa fa-search table-search-icon"></i>
                            <input type="text" pInputText size="50" placeholder="Search"
                                   (input)="table.filterGlobal($event.target.value, 'contains')" style="width:auto">
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th [pSortableColumn]="'name'">
                                    Name
                                    <p-sortIcon [field]="'name'"></p-sortIcon>
                                </th>
                                <th [pSortableColumn]="'code'">
                                    Code
                                    <p-sortIcon [field]="'code'"></p-sortIcon>
                                </th>
                                <th [pSortableColumn]="'type'">
                                    Type
                                    <p-sortIcon [field]="'type'"></p-sortIcon>
                                </th>
                                <th [pSortableColumn]="'record_count'">
                                    Records
                                    <p-sortIcon [field]="'record_count'"></p-sortIcon>
                                </th>
                                <th [pSortableColumn]="'description'">
                                    Description
                                    <p-sortIcon [field]="'description'"></p-sortIcon>
                                </th>
                                <th>
                                    Action
                                </th>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="body" let-rowData>
                            <tr>
                                <td>
                                    <a [routerLink]="'/administration/projects/edit-project/' + project.id +
                                       '/edit-dataset/' + rowData.id">
                                        {{rowData.name}}
                                    </a>
                                </td>
                                <td>{{ rowData.code }}</td>
                                <td>{{ rowData.type }}</td>
                                <td>{{ rowData.record_count }}</td>
                                <td>
                                    <label [innerHtml]="rowData.description | truncate:70"></label>
                                </td>
                                <td align="center">
                                    <button type="button" pButton icon="fa fa-pencil-square-o" title="Edit Records"
                                            [routerLink]="'/data-management/projects/' + project.id + '/datasets/' + rowData.id"></button>
                                    <button type="button" pButton icon="fa fa-trash-o" title="Delete"
                                            (click)="confirmDeleteDataset(rowData)"></button>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td [attr.colspan]="6">
                                    {{ datasets?.length > 0 ? '' : 'No datasets found' }}
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="summary">
                            <div class="ui-helper-clearfix">
                                <button type="button" pButton icon="fa fa-plus" style="float:right" label="Add"
                                        [routerLink]="'/administration/projects/edit-project/' + project.id +
                                        '/create-dataset'">
                                </button>
                            </div>
                        </ng-template>
                    </p-table>
                </div>
            </div>
            <!-- sites table -->
            <div *ngIf="project.id" class="row mt-5 mb-5">
                <div class="col-md">
                    <h4>Sites</h4>

                    <p-table #table [value]="flatSites" autoLayout="true" resizableColumns="true" [scrollable]="true"
                             columnResizeMode="expand" [style.width]="getSiteTableWidth()" [(selection)]="selectedSites"
                             [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10, 25, 50, 100]"
                             [globalFilterFields]="['name', 'code', 'type', 'description'].concat(siteAttributeKeys)">
                        <ng-template pTemplate="colgroup" let-columns>
                            <colgroup>
                                <col [style.width]="'100px' | safe: 'style'">
                                <col [style.width]="'120px' | safe: 'style'">
                                <col [style.width]="'140px' | safe: 'style'">
                                <col [style.width]="'240px' | safe: 'style'">

                                <col *ngFor="let attribute of siteAttributeKeys"
                                     [style.width]="'240px' | safe: 'style'">
                            </colgroup>
                        </ng-template>
                        <ng-template pTemplate="caption">
                            <i class="fa fa-search table-search-icon"></i>
                            <input type="text" pInputText size="50" placeholder="Search"
                                   (input)="table.filterGlobal($event.target.value, 'contains')" style="width:auto">

                            <a href="{{TEMPLATE_EASTNORTH_URL}}">
                                <button type="button" pButton icon="fa fa-file-excel-o" style="float:right"
                                        label="Download Site Template (east/north)"></button>
                            </a>
                            <a href="{{TEMPLATE_LATLNG_URL}}">
                                <button type="button" class="ml-1" pButton icon="fa fa-file-excel-o"
                                        style="float:right"
                                        label="Download Site Template (lat/lng)"></button>
                            </a>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th>
                                    Select All
                                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                </th>
                                <th [pSortableColumn]="'code'">
                                    Code
                                    <p-sortIcon [field]="'code'"></p-sortIcon>
                                </th>
                                <th [pSortableColumn]="'name'">
                                    Name
                                    <p-sortIcon [field]="'name'"></p-sortIcon>
                                </th>
                                <th [pSortableColumn]="'description'">
                                    Description
                                    <p-sortIcon [field]="'description'"></p-sortIcon>
                                </th>
                                <th *ngFor="let attribute of siteAttributeKeys" [pSortableColumn]="'attribute'">
                                    {{ attribute }}
                                    <p-sortIcon [field]="'attribute'"></p-sortIcon>
                                </th>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="body" let-rowData>
                            <tr>
                                <td align="center">
                                    <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                                </td>
                                <td>
                                    <a [routerLink]="'/administration/projects/edit-project/' + project.id + '/edit-site/' +
                                      rowData.id" [innerHTML]='rowData.code | truncate:22'></a></td>
                                <td>{{ rowData.name }}</td>
                                <td>{{ rowData.description }}</td>
                                <td *ngFor="let attribute of siteAttributeKeys">
                                    <span [innerHTML]="rowData.hasOwnProperty(attribute) ? (rowData[attribute] |
                                        truncate:25) : ''">
                                    </span>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td [attr.colspan]="6">
                                    {{ datasets?.length > 0 ? '' : 'No sites found' }}
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="summary">
                            <div class="ui-helper-clearfix">
                                <button type="button" pButton icon="fa fa-trash" style="float:left" label="Delete"
                                        (click)="confirmDeleteSelectedSites()"
                                        [disabled]="selectedSites.length === 0"></button>
                                <button type="button" class="ml-1" pButton icon="fa fa-plus" style="float:right"
                                        label="Add"
                                        [routerLink]="'/administration/projects/edit-project/' + project.id + '/create-site'"></button>
                                <button type="button" pButton icon="fa fa-reply" style="float:right" label="Import"
                                        [routerLink]="'/administration/projects/edit-project/' + project.id + '/upload-sites'"></button>
                            </div>
                        </ng-template>
                    </p-table>
                </div>
            </div>
            <!-- file attachments -->
            <div *ngIf="project.id" class="row mt-5 mb-5">
                <div class="col-md">
                    <h4>File Attachments</h4>
                    <biosys-media-manager [mediaList]="projectMedia" (uploadMedia)="onUploadMedia($event)"
                                          (deleteMedia)="onDeleteMedia($event)" [isLoading]="isUploadingMedia">
                    </biosys-media-manager>
                </div>
            </div>
        </div>
    </div>
</div>
<p-confirmDialog header="Confirm Delete" icon="fa fa-question-circle" width="425"></p-confirmDialog>
