<div class="container">
    <biosys-header></biosys-header>
    <biosys-navbar></biosys-navbar>
    <biosys-breadcrumbs [items]="breadcrumbItems"></biosys-breadcrumbs>
    <div class="row mt-1">
        <div class="col-md">
            <h3>Projects</h3>
            <p>Select a project to edit or delete or click add to create a new project</p>
            <p-table #table [value]="projects" autoLayout="true" resizableColumns="true" columnResizeMode="expand"
                     [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10, 25, 50, 100]"
                     [globalFilterFields]="['name','code', 'description', 'dataset_count', 'site_count',
                     'record_count']">
                <ng-template pTemplate="caption">
                    <i class="fa fa-search table-search-icon"></i>
                    <input type="text" pInputText size="50" placeholder="Search"
                           (input)="table.filterGlobal($event.target.value, 'contains')" style="width:auto">
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th [pSortableColumn]="'name'">
                            Name
                            <p-sortIcon [field]="'name'"></p-sortIcon>
                        </th>
                        <th [pSortableColumn]="'code'">
                            Code
                            <p-sortIcon [field]="'code'"></p-sortIcon>
                        </th>
                        <th [pSortableColumn]="'description'">Description
                            <p-sortIcon [field]="'description'"></p-sortIcon>
                        </th>
                        <th [pSortableColumn]="'program'">Program
                            <p-sortIcon [field]="'program'"></p-sortIcon>
                        </th>
                        <th [pSortableColumn]="'dataset_count'">
                            Datasets
                            <p-sortIcon [field]="'dataset_count'"></p-sortIcon>
                        </th>
                        <th [pSortableColumn]="'site_count'">
                            Sites
                            <p-sortIcon [field]="'site_count'"></p-sortIcon>
                        </th>
                        <th [pSortableColumn]="'record_count'">
                            Records
                            <p-sortIcon [field]="'record_count'"></p-sortIcon>
                        </th>
                        <th>
                            Delete
                        </th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-rowData>
                    <tr>
                        <td>
                            <a [routerLink]="'/administration/projects/edit-project/' + rowData.id">
                                {{rowData.name}}
                            </a>
                        </td>

                        <td>{{ rowData.code }}</td>
                        <td>
                            <label [innerHtml]="rowData.description | truncate:70"></label>
                        </td>
                        <td>{{ programNameLookup[rowData.program] }}</td>
                        <td>{{ rowData.dataset_count }}</td>
                        <td>{{ rowData.site_count }}</td>
                        <td>{{ rowData.record_count }}</td>
                        <td align="center">
                            <button type="button" pButton icon="fa fa-trash-o" title="Delete"
                                    (click)="confirmDelete(rowData)"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td [attr.colspan]="6">
                            {{ projects?.length > 0 ? '' : 'No projects found' }}
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="ui-helper-clearfix">
                        <button type="button" pButton icon="fa fa-plus" style="float:right" label="Add"
                                routerLink="/administration/projects/create-project"></button>
                    </div>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>

<p-confirmDialog header="Confirm Delete" icon="fa fa-question-circle" width="425"></p-confirmDialog>
