<div class="container">
    <biosys-header></biosys-header>
    <biosys-navbar></biosys-navbar>
    <biosys-breadcrumbs [items]="breadcrumbItems"></biosys-breadcrumbs>
    <div class="row mt-3">
        <div class="col">
            <h4>Change your password</h4>
            <p>Please fill in the fields below to change your password.</p>
        </div>
    </div>
    <div class="row mt-1 main-section">
        <div class="col">
            <form [formGroup]="changePasswordForm" (submit)="resetPassword()">
                <div class="form-group row">
                    <label for="oldPassword" class="col-3">Old Password</label>
                    <input id="oldPassword" class="col-3" type="password" pInputText formControlName="oldPassword"/>
                    <div *ngIf="oldPasswordError" class="col-3 text-danger">
                        {{ oldPasswordError }}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="password" class="col-3">New Password</label>
                    <input id="password" class="col-3" type="password" pInputText formControlName="newPassword"/>
                </div>
                <div class="form-group row">
                    <label for="newPasswordConfirm" class="col-3">New Password (confirm)</label>
                    <input id="newPasswordConfirm" class="col-3" type="password" pInputText
                           formControlName="newPasswordConfirm"/>
                </div>
                <div class="form-group row">
                    <div class="col-6" style="padding-right: 0px">
                        <button pButton class="float-right" type="submit" label="Change Password"
                                [disabled]="changePasswordForm.invalid">
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
