<p-dataTable [tableStyle]="getRecordsTableWidth()" [value]="flatRecords"
             [emptyMessage]="!flatRecords ? '' : 'No records found'"
             [paginator]="true" [rows]="pageState.rowLimit" [rowsPerPageOptions]="[10, 25, 50, 100]"
             [totalRecords] = "totalRecords" [first]="pageState.rowOffset" [globalFilter]="recordSearch"
             [loading]="!flatRecords" [editable]="true" (onEditComplete)="onRowEditComplete($event)"
             (onPage)="onPageChange($event)" resizableColumns="true" (onEditInit)="onRowEditInit($event)"
             columnResizeMode="expand" [scrollable]="true" [lazy]="!!dataset"
             (onLazyLoad)="loadRecordsLazy($event)">
    <p-header>
        <div class="ui-helper-clearfix" style="width:100%">
            <i class="fa fa-search float-left mt-1 mr-1"></i>
            <input #recordSearch type="text" class="float-left" pInputText placeholder="Search">
        </div>
    </p-header>
    <p-column styleClass="col-button" [style]="{'width': '120px'}">
        <ng-template pTemplate="header">
            <p-checkbox label="Select All" [(ngModel)]="selectAllRecords" binary="true"></p-checkbox>
        </ng-template>
        <ng-template let-flatRecord="rowData" pTemplate="body">
            <p-checkbox [value]="flatRecord.id" [(ngModel)]="selectedRecords"></p-checkbox>
        </ng-template>
    </p-column>
    <p-column field="id" header="Record ID" [sortable]="true" [style]="{'width': '120px'}">
        <ng-template let-flatRecord="rowData" pTemplate="body">
            <a class="table-link"
               [routerLink]="'/data/projects/' + dataset.project + '/datasets/' + dataset.id + '/record/' + flatRecord.id">{{flatRecord.id}}</a>
        </ng-template>
    </p-column>
    <p-column *ngFor="let field of dataset?.data_package?.resources[0]?.schema?.fields" [field]="field.name"
              [header]="field.name" [sortable]="true" [editable]="true"
              [style]="getRecordsTableColumnWidth(field.name)">
        <ng-template *ngIf="field.type == 'date'" let-col let-flatRecord="rowData" pTemplate="body">
            {{ flatRecord[col.field] | date:(field.format | pyDateFormatToAngularDateFormat) }}
        </ng-template>
        <ng-template *ngIf="field.type == 'date'" let-flatRecord="rowData" let-col pTemplate="editor">
            <p-calendar *ngIf="field.type == 'date'" dateFormat="{{ field.format | pyDateFormatToPrimeDateFormat }}"
                        [(ngModel)]="flatRecord[col.field]" appendTo="body" (onSelect)="onRecordDateSelect()">
            </p-calendar>
        </ng-template>
        <ng-template *ngIf="field.constraints?.enum" let-flatRecord="rowData" let-col pTemplate="editor">
            <p-dropdown [placeholder]="'Select a ' + field.name.toLowerCase()"
                        [options]="getDropdownOptions(field.name, field.constraints.enum)"
                        [(ngModel)]="flatRecord[col.field]" [style]="{'width':'100%'}" appendTo="body"
                        (onChange)="onRecordDropdownSelect()">
            </p-dropdown>
        </ng-template>
    </p-column>
    <p-column field="file_name" header="Source File" [sortable]="true" [style]="getRecordsTableColumnWidth('source_file')">
    </p-column>
    <p-column field="row" header="Source Row" [sortable]="true" [style]="getRecordsTableColumnWidth('source_row')">
    </p-column>
    <p-column field="created" header="Created" [sortable]="true" [style]="getRecordsTableColumnWidth('created')">
    </p-column>
    <p-column field="last_modified" header="Last Modified" [sortable]="true"
              [style]="getRecordsTableColumnWidth('last_modified')"></p-column>
    <p-footer>
        <div class="ui-helper-clearfix" style="width:100%">
            <button type="button" pButton icon="fa-trash" style="float:left" label="Delete Selected"
                    (click)="confirmDeleteSelectedRecords()" [disabled]="selectedRecords.length === 0"></button>
            <button type="button" pButton icon="fa-trash" style="float:left" label="Delete All"
                    (click)="confirmDeleteAllRecords()"></button>
            <button type="button" pButton icon="fa-plus" style="float:right" label="Add"
                    (click)="add()"></button>
        </div>
    </p-footer>
</p-dataTable>
