<div class="container">
    <biosys-header></biosys-header>
    <biosys-navbar></biosys-navbar>
    <biosys-breadcrumbs [items]="breadcrumbItems"></biosys-breadcrumbs>
    <div class="row mt-1">
        <div class="col-md">
            <h3>View and Export Records</h3>
            <p>
                Step 1: Click on the appropriate dataset to show the corresponding records to export. You can refine
                the datasets and records using the filters below. Note that the species filter only shows species of
                records already in the system.
            </p>
            <div class="row mb-3">
                <div class="col-2">
                    <p-dropdown [(ngModel)]="projectId" (onChange)="filter()" [options]="projectDropdownItems"
                                [filter]="true"
                                [style]="{'width': '100%', 'font-weight': 'bold'}">
                    </p-dropdown>
                </div>
                <div class="col-3">
                    <p-calendar placeholder="Start Date" (onSelect)="filter()" yearNavigator="true"
                                yearRange="2000:2020" [inputStyle]="{width: '120px'}"
                                [(ngModel)]="dateStart" dateFormat="dd/mm/yy">
                    </p-calendar>
                    <p-calendar placeholder="End Date" (onSelect)="filter()" [(ngModel)]="dateEnd" yearNavigator="true"
                                yearRange="2000:2020" dateFormat="dd/mm/yy" [inputStyle]="{width: '120px'}"
                                [style]="{float: 'right'}">
                    </p-calendar>
                </div>
                <div class="col-4" style="padding-top: 4px">
                    <span class="filter-buffer">
                        Validated Only
                        <p-checkbox (onChange)="filter()" [(ngModel)]="validatedOny" binary="true"></p-checkbox>
                    </span>
                    <span class="filter-buffer">
                        Include Locked
                        <p-checkbox (onChange)="filter()" [(ngModel)]="includeLocked" binary="true" ></p-checkbox>
                    </span>
                </div>
                <div class="col-2">
                    <p-dropdown [(ngModel)]="speciesName" (onChange)="filter()" [options]="speciesDropdownItems"
                                [filter]="true"
                                [style]="{'width': '100%', 'font-weight': 'bold'}">
                    </p-dropdown>
                </div>
                <div class="col-1">
                    <button pButton class="float-right" type="button" label="Reset" (click)="reset()"></button>
                </div>
            </div>

            <h4>Datasets</h4>

            <p-table #table [value]="datasets" autoLayout="true" resizableColumns="true" columnResizeMode="expand"
                     selectionMode="single" [(selection)]="selectedDataset" (onRowSelect)="selectDataset($event)"
                     [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10, 25, 50, 100]"
                     [globalFilterFields]="['name', 'type', 'projectName', 'record_count']">
                <ng-template pTemplate="caption">
                    <i class="fa fa-search table-search-icon"></i>
                    <input type="text" pInputText size="50" placeholder="Search"
                           (input)="table.filterGlobal($event.target.value, 'contains')" style="width:auto">
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th [pSortableColumn]="'name'">
                            Name
                            <p-sortIcon [field]="'name'"></p-sortIcon>
                        </th>
                        <th [pSortableColumn]="'type'">
                            Type
                            <p-sortIcon [field]="'type'"></p-sortIcon>
                        </th>
                        <th [pSortableColumn]="'projectName'">
                            Project
                            <p-sortIcon [field]="'projectName'"></p-sortIcon>
                        </th>
                        <th [pSortableColumn]="'record_count'">
                            Record Count
                            <p-sortIcon [field]="'record_count'"></p-sortIcon>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData>
                    <tr [pSelectableRow]="rowData">
                        <td>{{ rowData.name }}</td>
                        <td>{{ DATASET_TYPE_MAP[rowData.type] }}</td>
                        <td>{{ rowData.projectName }}</td>
                        <td>{{ rowData.record_count }}</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td [attr.colspan]="6">
                            {{ datasets?.length > 0 ? '' : 'No datasets with records found' }}
                        </td>
                    </tr>
                </ng-template>
            </p-table>

            <div *ngIf="selectedDataset" class="mt-5">
                <p>
                    Step 2: You can further refine the records by adjusting the filtering mechanisms above. When you are
                    satisfied with the results, click Export to export the records shown below to CSV file or Excel
                    spreadsheet.
                </p>
                <h4>Records for {{selectedDataset?.name}}</h4>
                <div class="data-table-container">
                    <p-table #recordsTable [value]="records"
                             resizableColumns="true" columnResizeMode="expand"
                             [scrollable]="true" [style.width]="getRecordsTableWidth()"
                             [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10, 25, 50, 100]"
                             [lazy]="true" (onLazyLoad)="loadRecordsLazy($event)" [loading]="records === null"
                             [totalRecords]="totalRecords">
                        <ng-template pTemplate="colgroup" let-columns>
                            <colgroup>
                                <col *ngFor="let field of selectedDataset?.data_package?.resources[0]?.schema?.fields"
                                     [style.width]="getRecordsTableColumnWidth(field.name)">
                            </colgroup>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th *ngFor="let field of selectedDataset?.data_package?.resources[0]?.schema?.fields"
                                    [pSortableColumn]="field.name">
                                    {{ field.name }}
                                    <p-sortIcon [field]="field.name"></p-sortIcon>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData>
                            <tr>
                                <td *ngFor="let field of selectedDataset?.data_package?.resources[0]?.schema?.fields">
                                    {{ rowData.data[field.name] }}
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td [attr.colspan]="selectedDataset?.data_package?.resources[0]?.schema?.fields.length + 8">
                                    {{ records?.length > 0 ? '' : 'No records found' }}
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
                <div class="row mt-3">
                    <div class="col-5">
                        <button *ngIf="canChangeLockedState" pButton type="button" label="Lock Filtered Records"
                                (click)="changeFilteredRecordsLockedState(true)" [disabled]="isLocking">
                        </button>
                        <button *ngIf="canChangeLockedState" pButton class="float-right" type="button"
                                label="Unlock Filtered Records" (click)="changeFilteredRecordsLockedState(false)"
                                [disabled]="isLocking">
                        </button>
                    </div>
                    <div class="col-3 offset-3">
                        <label class="right-buffer">File Type:</label>
                        <span class="right-buffer">
                            <p-radioButton name="filetype" label="csv" value="csv" [(ngModel)]="fileType"
                                           [disabled]="isLocking">
                            </p-radioButton>
                        </span>
                        <span class="right-buffer">
                            <p-radioButton name="filetype" label="xlsx" value="xlsx" [(ngModel)]="fileType"
                                           [disabled]="isLocking">
                            </p-radioButton>
                        </span>
                    </div>
                    <div class="col-1">
                        <button pButton [class]="'float-right'" type="button" label="Export" (click)="export()"
                                [disabled]="isLocking">
                        </button>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-3 offset-9">
                        <p-progressSpinner *ngIf="isLocking" animationDuration="1s"
                                           [style]="{width: '26px', height: '26px'}">
                        </p-progressSpinner>
                        <p-checkbox [class]="'float-right'" [(ngModel)]="lockRecordsOnExport" binary="true"
                                    [disabled]="isLocking">
                        </p-checkbox>
                        <label class="float-right right-buffer">Lock records on export</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
