<div class="container">
    <biosys-header></biosys-header>
    <biosys-navbar></biosys-navbar>
    <biosys-breadcrumbs [items]="breadcrumbItems"></biosys-breadcrumbs>
    <div class="row mt-1">
        <div class="col-md">
            <div class="ui-fluid">
                <h3 *ngIf="program.id">Edit Program</h3>
                <h3 *ngIf="!program.id">Create Program</h3>
                <p *ngIf="program.id">
                    Edit the program by changing the details below. Fields marked with a <strong>*</strong> are
                    required.
                </p>
                <p *ngIf="!program.id">
                    Create the program by entering the details below. Fields marked with a <strong>*</strong> are
                    required.
                </p>
                <div class="row mb-2">
                    <div class="col-md-2"><label class="field-label">Name *</label></div>
                    <div class="col-md-4">
                        <input type="text" pInputText [(ngModel)]="program.name"/>
                    </div>
                    <div class="col-md-4 text-danger">{{programErrors['name']}}</div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-2"><label class="field-label">Code</label></div>
                    <div class="col-md-4">
                        <input type="text" pInputText [(ngModel)]="program.code"/>
                    </div>
                    <div class="col-md-4 text-danger">{{programErrors['code']}}</div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-2"><label class="field-label">Description</label></div>
                    <div class="col-md-4">
                        <textarea pInputTextarea rows="7" [(ngModel)]="program.description"></textarea>
                    </div>
                    <div class="col-md-4 text-danger">{{programErrors['description']}}</div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-2"><label class="field-label">Data Engineers</label></div>
                    <div class="col-md-4">
                        <p-multiSelect *ngIf="dataEngineerChoices" [options]="dataEngineerChoices"
                                       [(ngModel)]="program.data_engineers"></p-multiSelect>
                    </div>
                    <div class="col-md-4 text-danger">{{programErrors['type']}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3 mb-3">
        <div class="col-2">
            <button pButton icon="fa fa-trash" (click)="confirmDelete($event)" label="Delete"></button>
        </div>
        <div class="col-4">
            <button pButton class="right-buffer" icon="fa fa-close" label="Cancel" (click)="cancel()"></button>
            <button pButton icon="fa fa-check" label="Save" (click)="save()"></button>
        </div>
    </div>
</div>
<p-confirmDialog header="Confirm Delete" icon="fa fa-question-circle" width="425"></p-confirmDialog>
