/* You can add global styles to this file, and also import other style files */
.col-button {
  text-align: center;
}

.field-label {
  font-weight: bold;
}

table td {
  vertical-align: top;
}

.ui-breadcrumb {
  border: none;
  background: none;
}

/*noinspection ALL*/
.ui-breadcrumb .ui-state-active {
  border: none;
  color: #000000;
  background: none;
}

.ui-menubar ul {
    width: 100%;
}

.ui-menuitem:last-child {
    float: right;
}

.ui-menu-parent .ui-menuitem:last-child {
    float: none;
}

.ui-menuitem .ui-state-active {
  border: none;
  background: none;
}

.ui-chkbox-label {
  margin-bottom: 0;
  margin-right: 15px;
}

.ui-growl-message-success {
  background-color: #4CAF50;
  border-color: #4CAF50;
  color: #ffffff;
}

.ui-growl-message-info {
  background-color: #186ba0;
  border-color: #186ba0;
  color: #ffffff;
}

.ui-growl-message-warn {
  background-color: #FFB300;
  border-color: #FFB300;
  color: #ffffff;
}

.ui-growl-message-error {
  background-color: #f44336;
  border-color: #f44336;
  color: #ffffff;
}

.ui-cell-data a {
  color: #2779aa;
}

.truncated {
  cursor: pointer;
}

.ui-fileupload {
    position: relative;
}

.ui-fileupload .ui-fileupload-loading {
    position: absolute;
    width: 100%;
    height: 100%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    opacity: 0.2;
    z-index: 1;
    border-radius: 6px;
}

.ui-fileupload .ui-fileupload-loading-content {
    position: absolute;
    left: 50%;
    top: 25%;
    z-index: 2;
}

.ui-table-caption {
    padding: .25em .5em;
    text-align: left;
    font-weight: bold;
}

.table-search-icon {
    margin: 4px 4px 0 0;
}
