<div class="container">
    <biosys-header></biosys-header>
    <ng-container *ngIf="!isPasswordResetRequestSent; else passwordResetRequestSent">
        <div class="row mt-3">
            <div class="col">
                <h4>Forgot your password</h4>
                <p>Please enter your email address below. An email will be sent allowing you to reset your password.</p>
            </div>
        </div>
        <div class="row mt-1 main-section">
            <div class="col">
                <div *ngIf="serverErrors" class="alert alert-danger" role="alert">
                    <ul>
                        <li *ngFor="let error of serverErrors | values">
                            {{ error }}
                        </li>
                    </ul>
                </div>
                <form [formGroup]="forgotPasswordForm" (submit)="submit()">
                    <div class="form-group row">
                        <label for="email" class="col-md-3 col-4">Email Address</label>
                        <input id="email" class="col-md-3 col-7" type="email" pInputText formControlName="email"
                               [disabled]="submitting"/>
                        <div *ngIf="forgotPasswordForm.invalid && forgotPasswordForm.controls['email'].touched"
                             class="col-md-3 col-11 text-danger">
                            {{ getFormControlError() }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6 col-11 pr-0">
                            <button pButton class="float-right" type="submit" label="Submit"
                                    [disabled]="forgotPasswordForm.invalid || submitting">
                            </button>
                            <p-progressSpinner [styleClass]="'submitting-spinner'" [hidden]="!submitting">
                            </p-progressSpinner>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </ng-container>
    <ng-template #passwordResetRequestSent>
        <div class="row mt-3">
            <div class="col">
                <h4>Password reset request sent</h4>
                <p>Please check your email and follow the instructions there to reset your password.</p>
            </div>
        </div>
    </ng-template>
</div>
